<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS_database_accessor.Properties.Settings.test_databaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=test_database;User ID=test;Password=test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>